<html lang="en">
<head>
    <meta char="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./home.html">A16專題</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="./home.html">首頁</a></li>
        <li><a href="./introduce_dataset.html">資料集介紹</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">技術辨識
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="./ob_image.html">圖像辨識</a></li>
            <li><a href="./ob_mp4.html">影像辨識</a></li>
            <!--<li><a href="/ob_realtime.html">網路cam辨識</a></li>-->
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./signinup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="./signout"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
      </ul>
    </div>
  </nav>
    <h2>歡迎光臨會員頁面，現在可以進行影像辨識</h2>
    <div>你好，很高興見到你</div>
</body>
</html>